<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
    <div class="container">
        <div class="title">
            <div class="row">
                <div class="col-sm-5">
                    <h1>Transfer money Information</h1>
                </div>
                <div class="col-sm-7">
                    <a href="/customers" class="btn btn-outline-light" style="margin-right: 40px;">
                        <i class="fas fa-list"></i>
                        <span>Customer list</span>                        
                    </a>
                </div>
            </div>
        </div>

        <form class="form-group" method="POST" th:object="${sender}">
            <fieldset>
                <div class="row">
                    <div class="col-sm-3">
                        <label  class="form-label">Sender ID</label>
                        <input type="text"  th:field="*{fullName}" class="form-control" readonly>
                    </div>
                    <div class="col-sm-3">
                        <label  class="form-label">Sender Name</label>
                        <input type="text"  th:field="*{fullName}" class="form-control" readonly>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Email</label>
                        <input type="text"  th:field="*{email}" class="form-control" readonly>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Sender balance</label>
                        <input type="text" th:field="*{balance}" class="form-control" readonly>
                    </div>
                </div>
                <div class="row" th:object="${transfer}">
                    <div class="col-sm-3">
                            <label  class="col-sm-12 form-label">Recipient Name</label>
                            <div class="col-sm-12">
                                <select th:field="*{recipient}" class="form-select">
                                    <th:block th:each="item : ${recipients}">
                                        <option th:value="${item.id}" th:text="${'(' + item.id + ') ' + item.fullName}"></option>
                                    </th:block>
                                </select>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Transaction Amount ($)</label>
                        <input type="text" class="form-control" th:field="*{transferAmount}">
                    </div>
                    <div class="col-sm-3">
                        <label  class="form-label">Fees (%)</label>
                        <input type="text" class="form-control" value="10" readonly>
                    </div>
                    <div class="col-sm-3">
                        <label  class="form-label">Total amount of transaction ($)</label>
                        <input type="text" class="form-control" th:field="*{transactionAmount}" readonly>
                    </div>
                </div>

                <div class="row create">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="fas fa-exchange-alt"> Transfer</i>
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <footer>
        <div class="container">
            <th:block th:if="${errors != null}">
                <h3>Please correct errors below:</h3>
                <ul>
                    <li th:text="${errors}"></li>
                </ul>
            </th:block>
        </div>
    </footer>

    <script src="/assets/jquery/jquery-v3.6.0.min.js"></script>

    <script>
        // let transferAmount = $("#transferAmount").val();

        $("#transferAmount").on("input", function() {
            let transferAmount = +$(this).val();
            let fees = 10;
            let feesAmount = transferAmount * fees / 100;
            let transactionAmount = transferAmount + feesAmount;

            $("#transactionAmount").val(transactionAmount);
        });

    </script>
</body>
</html>